@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    ;
}

:root {
    --gap: 20px;
}

html,
body {

    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 16px;

}

header {
    background-color: #d9d3d3;
    color: black;
    font-size: 24px;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 50px;
   
    
}

nav ul {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}



nav li {
    margin-left: auto;
    display: inline-block;
    padding-bottom: 10px;
}

nav li:nth-child(3) {
    margin: 0;
}   

nav li:first-child(){
    margin-left: 0;
    margin-right: auto;
}
nav li:last-child{
    margin-left: auto;
    margin-right: 0;
}


nav a {
    text-decoration: none;
    color: inherit;
}


header nav a:hover {
    background-color: #efeded;
    ;
}

.dropdown {

    position: relative;
    float: right;
    padding-right: 15px;

}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #d9d3d3;
    z-index: 1;

}

.dropdown-content a {
    display: block;
}



.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: #740000;
    color: white;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
    padding: 10px 0px;
    font-size: 24px;
}

footer nav a:hover {
    background-color: #9d4c4c;
    ;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 32px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 28px;
}