main{
    width: 100%;
}

.flex{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.resultbox{
    background-color: rgba(217, 211,  211, 0.3); /*0.3% von der Farbe*/
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
}

.pic{
    justify-content: left;
    text-align: center;
}

.informations{
    white-space: nowrap;
    margin-left: 5%;
    font-size: 25px;
    flex: 60%;
}

.space{
    word-spacing: 1em;
}

.button{
    background-color: #2A7F62;
    color: white;
    padding: 10px;
    align-self: flex-end;
}

.wrap::after {
    content: '\A';
    white-space: pre;    
}