main{
    width: 100%;
    margin-left: 0%;
}

.flex{
    display: flex;
    width: 100%;
    margin: 2%;
}

.results{
    background-color: rgba(217, 211,  211, 0.3); /*0.3% von der Farbe*/
    padding: 2%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
